USE [Bolsa_Empleo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 28/7/2021 2:39:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 28/7/2021 2:39:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Ofertante] [int] NOT NULL,
	[Id_Categoria] [int] NOT NULL,
	[Id_Provincia] [int] NOT NULL,
	[Empresa] [varchar](70) NOT NULL,
	[Logo] [varbinary](max) NULL,
	[Email_contacto] [varchar](150) NOT NULL,
	[Titulo] [varchar](250) NOT NULL,
	[Modalidad] [varchar](11) NOT NULL,
	[Tiempo] [varchar](15) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Requisitos] [text] NOT NULL,
	[Sueldo] [decimal](16, 2) NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK__Oferta__3214EC07DC0EFA0A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ofertante]    Script Date: 28/7/2021 2:39:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ofertante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[Url_sitio] [text] NULL,
	[Buscando] [varchar](90) NULL,
	[Cantidad_Click] [int] NULL,
	[Foto] [varbinary](max) NULL,
 CONSTRAINT [PK_Ofertante] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 28/7/2021 2:39:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (4, N'Administración de empresas')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (5, N'Administrativos y Secretariado')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (6, N'Atención al cliente')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Oferta] ON 

SET IDENTITY_INSERT [dbo].[Oferta] OFF
SET IDENTITY_INSERT [dbo].[Ofertante] ON 

INSERT [dbo].[Ofertante] ([Id], [Nombre], [Apellido], [Email], [Contrasena], [Url_sitio], [Buscando], [Cantidad_Click], [Foto]) VALUES (7, N'Alberto Jose', N'Garcia', N'albertoJJ@hotmail.com', N'alberto00', NULL, NULL, NULL, NULL)
INSERT [dbo].[Ofertante] ([Id], [Nombre], [Apellido], [Email], [Contrasena], [Url_sitio], [Buscando], [Cantidad_Click], [Foto]) VALUES (9, N'Carlos Eliezer', N'Santos', N'carlosSantos@hotmail.com', N'arabe0048', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ofertante] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([Id], [Nombre]) VALUES (1, N'Azua')
INSERT [dbo].[Provincia] ([Id], [Nombre]) VALUES (2, N'Bahoruco')
INSERT [dbo].[Provincia] ([Id], [Nombre]) VALUES (3, N'Barahona')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF392356F6]    Script Date: 28/7/2021 2:39:52 a. m. ******/
ALTER TABLE [dbo].[Categoria] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Email]    Script Date: 28/7/2021 2:39:52 a. m. ******/
ALTER TABLE [dbo].[Ofertante] ADD  CONSTRAINT [Unique_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Provinci__75E3EFCF6205BC69]    Script Date: 28/7/2021 2:39:52 a. m. ******/
ALTER TABLE [dbo].[Provincia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK__Oferta__Id_Categ__245D67DE] FOREIGN KEY([Id_Categoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK__Oferta__Id_Categ__245D67DE]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK__Oferta__Id_Ofert__236943A5] FOREIGN KEY([Id_Ofertante])
REFERENCES [dbo].[Ofertante] ([Id])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK__Oferta__Id_Ofert__236943A5]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK__Oferta__Id_Provi__25518C17] FOREIGN KEY([Id_Provincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK__Oferta__Id_Provi__25518C17]
GO
