@model Portal_de_empleos.Models.Ofertante

@{
    ViewData["Title"] = "Registro";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/registro.css")" asp-append-version="true"/>
}


<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4 col-lg-4 container-child">
        <div>
            <div class="w-100">
                <img src="~/img/pinguinoigloo.png" class="d-block m-auto" alt="pinguino-con-igloo">
            </div>
            <header class="text-center">
                <h1 class=""><strong><span>&nbsp;Regístrate</span> ahora&nbsp;</strong></h1>
                <h3 class="px-4">
                    ¿Qué esperas para activar una cuenta y publicar tu primera oferta de empleo?
                </h3>
            </header>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 container-child">
        <main>
            <header class="text-center mb-4">
                <h4 class="mt-3">Ingrese la información de inicio de sesión para su cuenta</h4>
            </header>

            <form method="post" class="row">
                <div class="col-md-6 col-lg-6 mb-3">
                    <label asp-for="NOMBRE" class="form-label">Nombre<span class="required ps-2">#</span></label>
                    <input asp-for="NOMBRE" type="text" required class="form-control" placeholder="Insertar su nombre" autocomplete="off"
                           data-val="false" data-val-required="">
                    <i class="fas fa-user"></i>
                </div>

                <div class="col-md-6 col-lg-6 mb-3">
                    <label asp-for="APELLIDO" class="form-label">Apellido<span class="required ps-2">#</span></label>
                    <input asp-for="APELLIDO" type="text" required class="form-control" placeholder="Insertar su apellido" autocomplete="off"
                           data-val="false" data-val-required="">
                    <i class="fas fa-user"></i>
                </div>

                <div class="col-md-12 col-lg-12 mb-3">
                    <label asp-for="EMAIL" class="form-label">Email<span class="required ps-2">#</span></label>
                    <input asp-for="EMAIL" type="email" required class="form-control" placeholder="Insertar su correo"
                           data-val="false" data-val-required="">
                    <i class="fas fa-envelope"></i>
                </div>

                <div class="col-md-12 col-lg-12 mb-3">
                    <label asp-for="URL_SITIO" class="form-label">Sitio Web</label>
                    <input asp-for="URL_SITIO" type="url" class="form-control" placeholder="URL" autocomplete="off"
                           data-val="false" data-val-required="">
                    <i class="fas fa-globe"></i>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-3 position-relative">
                    <label asp-for="CONTRASENA" class="form-label">Contraseña<span class="required ps-2">#</span></label>
                    <input asp-for="CONTRASENA" type="password" required class="form-control password input_password"
                           placeholder="************" minlength="8" data-val="false" data-val-required="">
                    <i class="fas fa-lock"></i>
                    <div class="password-visor">
                        <i class="far fa-eye eye-open"></i>
                        <i class="far fa-eye-slash eye-closed"></i>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-3">
                    <label class="form-label">
                        Confirmar contraseña<span class="required ps-2">#</span>
                    </label>
                    <input type="password" required class="form-control password" placeholder="************">
                    <i class="fas fa-lock"></i>
                </div>

                <div class="d-flex">
                    <input type="submit" class="btn shadow-sm align-self-center m-auto mt-3 m-0"
                           value="Crear Cuenta">
                </div>
            </form>

            <span class="link-login d-flex justify-content-center w-100 d-block mt-3 mb-3">
                Ya estas registrado?
                <a asp-action="Login" class="ps-2">Inicia sesión</a>
            </span>
            <a asp-action="Login" class="btn btn-success w-100 btn-login mt-2">Inicia Sesión</a>
        </main>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/js/registro/registro.js")" asp-append-version="true" type="module"></script>
    <script src="https://kit.fontawesome.com/1d9813da54.js" crossorigin="anonymous"></script>
}