@{
    ViewData["Title"] = "Sesion";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/sesion.css")" />
}


@section Header{
    <header>
        <nav class="navbar navbar-expand-sm navbar-light my-navbar">

            <button type="button" class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="d-flex m-auto w-100" style="list-style: none;">

                    <li>
                        <form class="m-auto nav-searcher">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light shadow-none"
                                       placeholder="Haz una búsqueda..">

                                <div class="input-group-append">
                                    <button class="btn my-navbar-button-search" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li class="ms-auto">
                        <div class="user-info d-flex">

                            <div class="pe-2 d-flex">
                                <div class="me-3 text-center ">
                                    <h6 class="m-0 p-0 text-muted">¡ Bienvenid@@ !</h6>
                                    <span class="me-2 text-gray-600 user-name">Carlos Eliezel Santos</span>
                                </div>
                                <img class="img-profile rounded-circle" data-bs-toggle="modal"
                                     data-bs-target="#modal-perfil"
                                     src="https://avatars.githubusercontent.com/u/70111182?v=4" alt="foto-de-carlos">
                            </div>

                            <div class="d-flex justify-content-center align-items-center ms-4">

                                <i class="fas fa-user-circle" data-bs-toggle="modal"
                                   data-bs-target="#modal-perfil" title="tu perfil"></i>

                                <i class="fas fa-sign-out-alt end-session mx-2"></i>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
}
<main>
    <!-- Begin Page Content -->
    <section class="container-fluid px-lg-4">
        <div class="my-4 d-flex justify-content-end">
            <!-- Page Heading -->
            <a href="#!" class="btn btn-sm shadow-sm report-button">
                <i class="fas fa-download fa-sm text-white me-1"></i>
                Generar un reporte
            </a>
        </div>

        <form class="m-auto d-none content-searcher mb-4 mt-4">
            <div class="input-group">
                <input type="text" class="form-control bg-light shadow-none bg-white"
                       placeholder="Haz una búsqueda.." style="width: 5px;">

                <div class="input-group-append">
                    <button class="btn btn-form-content" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>


        <div class="cards d-flex">

            <div class="card-single rounded d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold">5</h3>
                    <span>Ofertas publicadas por ti</span>
                </div>
                <div>
                    <i class="fas fa-briefcase"></i>
                </div>
            </div>


            <div class="card-single rounded d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold">12</h3>
                    <span>Copiaron/Clickearon tu correo</span>
                </div>
                <div>
                    <i class="far fa-hand-pointer"></i>
                </div>
            </div>

            <div class="card-single card-searcher pe-0 rounded">
                <form action="" class="ps-2 card-form-filtro">
                    <label for=""><i class="fas fa-filter me-2"></i> Filtrar por:</label>
                    <select name="busqueda" class="ms-3 selectOpt">
                        <option selected>Seleccionar</option>
                        <option>Titulo de oferta</option>
                        <option>Empresa</option>
                        <option>Provincia</option>
                        <option>Categoria</option>
                        <option>Tiempo</option>
                        <option>Modalidad</option>
                        <option>Fecha</option>
                    </select>

                    <div class="d-flex ps-1 pe-2 pt-3">
                        <select class="search select-default">
                            <option>Selecciona un filtrado</option>
                        </select>

                        <input type="text" class="search form-control"
                               placeholder="Escribe titulo de oferta">
                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Empresa</option>
                            <option>ITGES</option>
                            <option>CLARO</option>
                            <option>CODETEL</option>
                            <option>GBH</option>
                            <option>TIGERCODER</option>
                            <option>GOOGLE</option>
                            <option>AMAZON</option>
                        </select>
                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Provincia</option>
                            <option>Dajabon</option>
                            <option>Peravia</option>
                            <option>Santo Domingo</option>
                            <option>Higuey</option>
                            <option>Santiago</option>
                            <option>Pedernales</option>
                        </select>
                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Categoria</option>
                            <option>Tecnologia</option>
                            <option>Belleza</option>
                            <option>Construccion</option>
                        </select>
                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Tiempo</option>
                            <option>Tiempo Completo</option>
                            <option>Medio Tiempo</option>
                            <option>Temporal</option>
                        </select>
                        <select class="search">
                            <option selected disabled hidden>Seleccionar&nbsp;&nbsp;Modalidad</option>
                            <option>Presencial</option>
                            <option>Remoto</option>
                        </select>

                        <input type="date" class="search form-control">

                        <input class="btn btn-info fw-bold ms-3" value="Buscar" type="submit">
                    </div>
                </form>
            </div>

        </div>



        <!-- column -->
        <div class="col-md-12">
            <div class="card border-0 mb-5">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Ofertas de empleo publicadas</h4>
                            <h5 class="card-subtitle">Vista de ultimas ofertas publicadas</h5>
                            <select class="form-select mt-2 shadow-none">
                                <option value="0" selected="">Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                        <div class="ms-auto">
                            <button class="mb-2 button-new-offer mt-3">
                                Publicar nueva oferta <i style="margin-left: 9px;" class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- title -->
                </div>

                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">Empresa</th>
                                <th class="border-top-0">Titulo</th>
                                <th class="border-top-0">Categoria</th>
                                <th class="border-top-0">Provincia</th>
                                <th class="border-top-0">Modalidad</th>
                                <th class="border-top-0">Sueldo</th>
                                <th class="border-top-0">Fecha</th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/LogoClaro2017.png"
                                                 alt="" width="35">
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16">Claro</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Programador Java con +1..
                                </td>
                                <td>
                                    Tecnologia
                                </td>
                                <td>
                                    Santo Domingo
                                </td>
                                <td>
                                    Presencial
                                </td>
                                <td>
                                    50,000 RD$
                                </td>
                                <td>
                                    20 May, 2021
                                </td>
                                <td>
                                    <i class="fas fa-eye" title="Ver detalle" data-bs-toggle="modal"
                                       data-bs-target="#modal-oferta"></i>
                                    <i class="fas fa-pencil-alt" title="Editar"></i>
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Altice_Logo.jpg"
                                                 alt="" width="35">
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16">Altice</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Conserje responsable
                                </td>
                                <td>
                                    Limpieza
                                </td>
                                <td>
                                    Santiago
                                </td>
                                <td>
                                    Presencial
                                </td>
                                <td>
                                    5,000 RD$
                                </td>
                                <td>
                                    27 Ene, 2021
                                </td>
                                <td>
                                    <i class="fas fa-eye" title="Ver detalle"></i>
                                    <i class="fas fa-pencil-alt" title="Editar"></i>
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <img src="https://www.eljaya.com/wp-content/uploads/2016/07/15Aster.jpg"
                                                 alt="" width="35">
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16">Aster</h4>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    Contable habil y rapido
                                </td>
                                <td>
                                    Administracion
                                </td>
                                <td>
                                    Monte Plata
                                </td>
                                <td>
                                    Remoto
                                </td>
                                <td>
                                    35,000 RD$
                                </td>
                                <td>
                                    13 Feb, 2021
                                </td>
                                <td>
                                    <i class="fas fa-eye" title="Ver detalle"></i>
                                    <i class="fas fa-pencil-alt" title="Editar"></i>
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <img src="https://www.clipartmax.com/png/small/277-2772699_la-empresa-de-telecomunicaciones-y-entretenimiento-tricom-republica-dominicana.png"
                                                 alt="" width="35">
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16">Tricom</h4>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    Administrador de Red
                                </td>
                                <td>
                                    Tecnologia
                                </td>
                                <td>
                                    Presencial
                                </td>
                                <td>
                                    Temporal
                                </td>
                                <td>
                                    45,000
                                </td>
                                <td>
                                    31 Oct, 2021
                                </td>
                                <td>
                                    <i class="fas fa-eye" title="Ver detalle"></i>
                                    <i class="fas fa-pencil-alt" title="Editar"></i>
                                    <i class="fas fa-trash-alt" title="Eliminar"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <!--MODALES-->

    <section>
        <!--MODAL PERFIL-->
        <div class="modal fade" id="modal-perfil" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0 d-flex justify-content-center">
                        <img src="https://avatars.githubusercontent.com/u/70111182?v=4"
                             class="rounded-circle" alt="">
                        <h2 class="w-100 text-center">
                            Carlos Eliezer Santos
                        </h2>
                    </div>
                    <div class="modal-body w-100 d-flex flex-column text-center">
                        <p><i class="fas fa-comment-dots"></i>Buscando empleados</p>
                        <p><i class="fas fa-envelope"></i>carshloz@hotmail.com</p>
                        <p><i class="fas fa-globe"></i>www.carlosSantos.com</p>
                    </div>
                    <div class="modal-footer border-0 p-0">
                        <button type="button" class="btn btn-danger mt-2 mb-2" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cerrar
                        </button>
                        <div class="dropdown mb-2">
                            <span class="btn dropdown-toggle" role="button" id="dropdownMenuLink"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-users-cog me-2"></i>Editar Datos
                            </span>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li data-bs-toggle="modal" data-bs-target="#modal-update-perfil"
                                    data-bs-dismiss="modal">
                                    <span class="dropdown-item">
                                        <i class="fas fa-id-card"></i>Editar
                                        Perfil
                                    </span>
                                </li>
                                <li data-bs-toggle="modal" data-bs-target="#modal-update-password"
                                    data-bs-dismiss="modal">
                                    <span class="dropdown-item">
                                        <i class="fas fa-asterisk"></i>Editar
                                        clave
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--MODAL UPDATE PERFIL-->
        <div class="modal fade" id="modal-update-perfil" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-4">
                        <h2 class="w-100 text-center">
                            Ajustes del perfil <i class="fas fa-user-cog"></i>
                        </h2>
                    </div>
                    <form action="" class="row modal-body pt-0 perfil-update-form">

                        <div class="col-12 mb-3 d-flex justify-content-center">
                            <div class="update-img">
                                <img src="https://avatars.githubusercontent.com/u/70111182?v=4"
                                     class="rounded-circle me-3" id="update-img-perfil" alt="">
                                <input type="file" id="update-image-file" class="input-profile d-none"
                                       accept="image/png, image/jpeg">
                                <label for="update-image-file" id="descargar-foto-label">Cambiar</label>
                            </div>
                        </div>

                        <div class="col-6 mb-2">
                            <label for="" class="col-form-label">
                                Nombre<span class="required">#</span>
                            </label>
                            <input type="text" class="form-control input-profile"
                                   placeholder="Insertar su nombre" value="Carlos Eliezer" autocomplete="off"
                                   required>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-6 mb-2">
                            <label for="" class="col-form-label">
                                Apellido<span class="required">#</span>
                            </label>
                            <input type="text" class="form-control input-profile"
                                   placeholder="Insertar su apellido" value="Santos" autocomplete="off"
                                   required>
                            <i class="fas fa-user"></i>
                        </div>

                        <div class="col-12 mb-2">
                            <label for="" class="col-form-label">
                                Email<span class="required">#</span>
                            </label>
                            <input type="email" class="form-control input-profile"
                                   value="carshloz@hotmail.com" placeholder="service@hotmail.com"
                                   autocomplete="off">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="col-12 mb-2">
                            <label for="" class="col-form-label">¿Qué andas buscando?</label>
                            <input type="text" class="form-control input-profile"
                                   value="Buscando programadores" placeholder="Ej: Contables"
                                   autocomplete="off">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="" class="col-form-label">Sitio Web</label>
                            <input type="url" class="form-control input-profile" placeholder="URL"
                                   value="www.carlosSantos.com.do" autocomplete="off">
                            <i class="fas fa-globe"></i>
                        </div>
                    </form>
                    <div class="modal-footer border-0 p-0 px-2">
                        <button type="button" class="btn btn-danger mt-2 mb-2 cancel" data-bs-toggle="modal"
                                data-bs-target="#modal-perfil" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cancelar
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2 btn-update-profile"
                                form="perfil-update-form" disabled>
                            <i class="fas fa-check-circle me-2"></i>Actualizar
                        </button>
                    </div>

                </div>
            </div>
        </div>


        <!--MODAL UPDATE CONTRASEñA-->
        <div class="modal fade" id="modal-update-password" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-4">
                        <h2 class="w-100 text-center">Cambio de clave <i class="fas fa-user-lock"></i></h2>
                    </div>
                    <div class="modal-quote px-3">
                        <p>¡ Cambiar la clave cada cierto tiempo es siempre una buena opción !</p>
                    </div>
                    <form action="" class="row modal-body pt-0 password-update-form" id="password-form">

                        <div class="col-12 mb-3">
                            <label for="" class="col-form-label">Contraseña actual</label>
                            <input type="password" class="form-control" placeholder="*************"
                                   autocomplete="off" required>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="" class="col-form-label">Contraseña nueva</label>
                            <input type="password" class="form-control new-password"
                                   placeholder="*************" autocomplete="off" minlength="8" required>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="" class="col-form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control new-password"
                                   placeholder="*************" autocomplete="off" required>
                            <i class="fas fa-lock"></i>
                        </div>
                    </form>
                    <div class="modal-footer border-0 p-0 px-2">
                        <button type="button" class="btn btn-danger mt-2 mb-2 cancel" data-bs-toggle="modal"
                                data-bs-target="#modal-perfil" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cancelar
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2"
                                form="password-form">
                            <i class="fas fa-check-circle me-2"></i>Actualizar
                        </button>
                    </div>

                </div>
            </div>
        </div>


        <!--MODAL OFERTA-->
        <div class="modal fade" id="modal-oferta" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-4 py-3  ">
                        <h2 class="w-100 text-center m-0">ITGES</h2>
                    </div>
                    <div class="modal-titulo d-flex">
                        <div class="ps-3">
                            <img src="~/img/default-logo-empresa.png" alt="default-logo-empresa" class="rounded-circle">
                        </div>
                        <div class="ps-4 w-100">
                            <h5 class="text-center pe-4 mb-3">Programador Java con razonamiento logico</h5>
                            <div class="d-flex ps-2" style="flex-wrap: wrap;">
                                <small><i class="fas fa-star me-1"></i>Tecnologia</small>
                                <small class="ms-4">
                                    <i class="fas fa-map-marker-alt me-1"></i>Santo
                                    Domingo
                                </small>
                            </div>
                            <div class="d-flex ps-2 mt-2" style="flex-wrap: wrap;">
                                <small><i class="fas fa-folder-minus me-1"></i>Presencial</small>
                                <small class="ms-4">
                                    <i class="fas fas fa-clock me-1"></i>Tiempo
                                    completo
                                </small>
                                <small class="ms-3">
                                    <i class="far fa-calendar-alt me-1"></i>20 May,
                                    2021
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt-0 m-0">
                        <div class="modal-body-descripcion">
                            <h6 class="mt-4">Descripcion :</h6>
                            <p class="mb-0 w-100">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                                perferendis
                                sunt
                                voluptatem nesciunt assumenda,
                                dolor rem eum voluptas rerum quaerat consequuntur earum quia inventore
                                commodi
                                cum,
                                velit consequatur, ut natus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="modal-body-requisitos">
                            <h6>Requisitos :</h6>
                            <ul class="p-0 ps-2">
                                <li>Minimo 1 año de experiencia.</li>
                                <li>Graduado de bachillerato.</li>
                                <li>Minimo 18 años de edad.</li>
                                <li>Minimo 1 año de experiencia.</li>
                            </ul>
                        </div>
                        <div class="modal-body-info">
                            <p class="mb-0">
                                <strong class="me-1">Contacto:</strong>
                                carlosEliezerErp@hotmail.com.do
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer border-0 p-0 px-2">
                        <button type="button" class="btn btn-danger mt-2 mb-2" data-bs-dismiss="modal">
                            <i class="fas fa-times-circle me-2"></i>Cerrar
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2 bg-danger text-white"
                                form="password-update-form">
                            <i class="fas fa-check-circle me-2"></i>Eliminar
                            Oferta
                        </button>

                        <button type="submit" class="btn mt-0 mt-2 mb-2"
                                form="password-update-form">
                            <i class="fas fa-check-circle me-2"></i>Actualizar
                            Oferta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{
    <script src="@Url.Content("~/js/sesion js/sesion.js")"></script>
    <script src="@Url.Content("~/js/sesion js/img_descargar.js")"></script>
    <script src="https://kit.fontawesome.com/1d9813da54.js" crossorigin="anonymous"></script>
}